
/* Basic parameters */

body {
	width: 90%;
	padding: 0.5em;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 30px;
	background: white;
	text-align : justify
}


div, p, li{
  font-size: 14px;
  color: black;
  text-align : justify; 
}

h1 {
  font-weight: 800;
  font-size: 18px;
  /*color: rgb(57, 62, 120);*/
  color: #5D5D5D;
}

h2 {
  font-weight: 800;
  font-size: 14px;
  /*color: rgb(57, 62, 120);*/
  color: #5D5D5D;
}

ul {
	padding-right: 35px;
}

ol {
	padding-right: 35px;
}

a {
  text-decoration: none;
  color: rgb(57, 62, 120);
  font-style: normal;
}

a:hover {
   text-decoration: underline;
   color: green;
}

a:visited {
	color: purple;
}

/*Dedicated parameters*/
span.term { font-style: italic; color: rgb(0, 0, 192) }
code {
color: green;
font-family: monospace;
font-size: medium;
font-weight: bold;
}

.bouton  {
padding: 1px;
border: solid black;
border-width: 1px;
margin-left: 0;
margin-right: 0;
background-color: #CCCCCC;
font-weight: bold;
font-size: x-small;
font-family: Arial;
}

code.greenmono {
color: green;
font-family: monospace;
font-weight: bold;
}

.exemple {
padding: 10px;
border: solid #5D5D5D;
border-width: 2px;
color: #405d5b;
font-weight: normal;
font-size: small;
margin-right: 5%;
margin-left: 5%;
text-align: justify;
}


.indice_CR  {
margin-left: 0;
margin-right: 0;
background-color: gold;
}

.ex_head  {
font-weight: bold;
color: #14a799;
margin-top: 2; 
margin-bottom: 0 
}
.ex_foot  {
font-weight: normal;
font-size: small;
margin-top: 0; 
margin-bottom: 0;
text-align: center;
color: green;
}


img {
color: white;
border: none;
}


.tocline { list-style: none; }

.comment {  
  background-color: #ADD8E6;
  border: dotted;
  border-color: #FFFFFF;
  border-width: 5px;
}
