
/* Basic parameters */

body {
	width: 100%;
	padding:0;
	margin:0;
	margin-bottom: 30px;
	background: white;
	text-align : justify
}



.logoResolco img{
	width: 300px;
	margin-left : -300px ; 
}

.logoEcalm img {
	width: 200px;
	margin-right : -300px ;
}


div, p, li{
  font-size: 14px;
  color: black;
  text-align : justify ;
  left : 2px;
  right : 2px; 
  
}

h1 {
  font-weight: 800;
  font-size: 18px;
  /*color: rgb(57, 62, 120);*/
  color: #5D5D5D;
}

h2 {
  font-weight: 800;
  font-size: 14px;
  /*color: rgb(57, 62, 120);*/
  color: #5D5D5D;
}

ul {
	padding-right: 35px;
}

ol {
	padding-right: 35px;
}

a {
  text-decoration: none;
  color: rgb(57, 62, 120);
  font-style: normal;
}

a:hover {
   text-decoration: underline;
   color: green;
}

a:visited {
	color: purple;
}

.container_nav { 
  height: 110px;
  position: sticky; top: 0px;
  display: flex; 
  justify-content:center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background: white;
  margin-bottom: 20px;
  z-index: 1;
}

a.button_nav {	
	all: unset;
	width: 150px;
	height: 110px;
  display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 4px;
	border-bottom: solid;
	border-bottom-color: rgb(57, 62, 120);
	font-weight: bold;
	font-family: Arial;
	color: grey;
	}
		

 a.button_nav:hover{
	background-color: rgb(57, 62, 120);
	color: white;
	cursor: pointer;
  transition: 1s;
	}

.image_nav {
  margin: 0px 30px 0px 10px;
}

.image_nav img{
  width: 500px;
}

.general-background {
	display: block;
	width: 1300px;
	margin:auto;
	background: white;
	padding-top: 20px;
	padding-bottom: 30px;
}

.flex-container {
  padding:0px;
  margin: 0px 30px;
  list-style: none;
  display: flex;
  justify-content:center;
}

.flex-container2 {
  padding-right:10px;
  margin: 0px 30px;
  list-style: none;
  display: flex;
  justify-content:center;
}

.flex-item {
  margin: 0px 10px;
}










