
/* Basic parameters */

body {
	width: 90%;
	margin:5%;
	margin-bottom: 30px;
	background: white;
	text-align : justify;
	counter-reset: numh1 numh2 numh3;
}

.logoResolco img{
	width: 300px;
	margin-left : -300px ; 
}

.logoEcalm img {
	width: 200px;
	margin-right : -300px ;
}


h1:before {
  content: counter(numh1) ". ";
  counter-increment: numh1;
}
h2:before {
  content: counter(numh1) "." counter(numh2) ". ";
  counter-increment: numh2;
}
h3:before {
  content: counter(numh1) "." counter(numh2) "." counter(numh3) ". ";
  counter-increment: numh3;
}
h1{
  counter-reset: numh2 numh3;
  font-weight: 800;
  font-size: 18px;
  /*color: rgb(57, 62, 120);*/
  color: #5D5D5D;
}
h2{
  counter-reset: numh3;
  font-weight: 800;
  font-size: 16px;
  /*color: rgb(57, 62, 120);*/
  color: #5D5D5D;
}
h1.unnumbered, h2.unnumbered {
  counter-reset: none;
}
h3 {
  font-size: 14px;
  /*color: rgb(57, 62, 120);*/
  color: #5D5D5D;
}
h1.unnumbered:before, 
h2.unnumbered:before,
h3.unnumbered:before{
  content: none;
  counter-increment: none;
}
h4,h5,h6 {
  font-size: 14px;
  /*color: rgb(57, 62, 120);*/
  color: #5D5D5D;
}

div, p, li{
  font-size: 14px;
  color: black;
  text-align : justify; 
  
}

ul {
	padding-right: 35px;
}

ol {
	padding-right: 35px;
}

a {
  text-decoration: none;
  color: rgb(57, 62, 120);
  font-style: normal;
}

a:hover {
   text-decoration: underline;
   color: green;
}

a:visited {
	color: purple;
}


/*Dedicated parameters*/
span.term { font-style: italic; color: rgb(0, 0, 192) }

code {
color: green;
font-family: monospace;
font-size: medium;
font-weight: bold;
}

.bouton  {
padding: 1px;
border: solid black;
border-width: 1px;
margin-left: 0;
margin-right: 0;
background-color: #CCCCCC;
font-weight: bold;
font-size: x-small;
font-family: Arial;
}

code.greenmono {
color: green;
font-family: monospace;
font-weight: bold;
}

.exemple {
padding: 10px;
border: solid #5D5D5D;
border-width: 2px;
color: #405d5b;
font-weight: normal;
font-size: small;
margin-top: 1%;
margin-bottom: 1%;
margin-right: 3%;
margin-left: 3%;
text-align: justify;
width : 100%;
max-width:800px;
}

.indice_CR  {
margin-left: 0;
margin-right: 0;
background-color: gold;
}

.titlinex  {
font-weight: bold;
}
.ex_head  {
font-weight: bold;
color: #14a799;
margin-top: 2; 
margin-bottom: 0 
}
.ex_foot  {
font-weight: normal;
font-size: small;
margin-top: 0; 
margin-bottom: 0;
text-align: center;
color: green;
}


img {
color: white;
border: none;
}

div.contents {
background-color: rgb(204,204,255);
padding: 0.5em;
border: none;
}

.tocline { list-style: none; }

.comment {  
  background-color: #ADD8E6;
  border: inset;
  border-color: #ADD8E6;
  border-width: 5px;
}

.update {  
  background-color: #9AFE2E;
}

.RQ {  
  color: #DF013A;
}
